@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Nunito:ital,wght@1,700&family=Revalia&display=swap');
html{
    height: 100%;
}
.navbar-brand{
    color: aqua;
}
.navbar-collapse{
    background-color: green;
}
body{
    background: url("./images/pexels-pixabay-459653.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.center{
    text-align: center;
    padding-top: 30px;
}
h1,p{
    color: white;
}
 h2  span{
    color: white;
 }

 @media (max-width:768px){
    
    h1{
        background-color: #449d44;
    }
    h2{
        background-color: #449d44;
    }
    
 }
 @media (min-width:768px){
    h1{
        background-color: skyblue;
        opacity: 0.8;
    }
    h2 span{
        color: skyblue;
    }
 }
 #login{
    min-width: 250px;
    
 }
 