@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Nunito:ital,wght@1,700&family=Revalia&display=swap');
*{
    

    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
body{
    min-height: 100%;
    background: radial-gradient(white, grey);
    font-family: 'Montserrat', sans-serif;

}
.wrapper{
    width: 300px;
    height: 350px;
    margin: 60px auto;
    border: 8px black solid;
    border-radius: 20px;
    background: white;
}
.header{
    width: 100%;
    text-align: center;
    height: 50px;
    background: linear-gradient(#f63, white);
    border-radius: 10px 10px 0 0;
   
    font-size: 25px;
    padding-top: 10px;
    color: green;

}
span{
    border-bottom: dashed 2px black;
    display: block;
    height: 90%;
    width: 100%;
}
.wraplist{
    height: 85%;
    width: 100%;
    border-radius:  0 0 10px 10px;

}
input[type="checkbox"]{
    position: relative;
    top: 14px ;
    right: 12px;
    float: right;
}
input[type="checkbox"]:checked + label{
    text-decoration: line-through;
    opacity: 0.3;
}
.list{
    list-style: none;
    color: rgba(0, 0 , 0, .8);
}
.list li{
    width: 100%;
    float: left;
}
label{
    padding: 10px;
    float: left;
    width: 90%;

}
.grey{
    background: rgba(0, 0 , 50, .1);
}